<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Task Management System - Test{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                {% block header_navigation_links %}
                                    <li>
                                        <a href="{{ path('task_index') }}">
                                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                                        </a>
                                    </li>
                                {% endblock %}

                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {{ include('default/_flash_messages.html.twig') }}
            
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}

                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}

    </body>
</html>
